@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

.tieude1{
	font-family: 'Montserrat', Sans-serrif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
	color: orange;
	position: absolute;
	width: 25%;
	right: 56%;
	top: 280px;
	transform: scale(1.5,1.5);
}
.noidung1{
	font-family: 'Roboto', Sans-serrif;
	font-weight: 400;
	color: white;
	width: 30%;
	left: 52%;
	position: absolute;
	text-align: left;
	top: 270px;
}
@media screen and (max-width: 2048px){
	.tieude1{
		text-align: right;
		width: 25%;
		right: 56%;
		top: 280px;
		transform: scale(1.5,1.5);
	}
	.noidung1{
		width: 30%;
		left: 52%;
		position: absolute;
		text-align: left;
		top: 270px;
	}
}
@media screen and (max-width: 768px){	
	.tieude1{
		text-align: left;
		width: 50%;
		left: 28%;
		top: 25%;

	}
	.noidung1{
		width: 70%;
		left: 17%;
		position: absolute;
		text-align: left;
		top: 58%;
	}
}
