@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #3A7472;
	font-family: 'Roboto', Sans-serrif;
}
body{
	background-image: url("pexels-min-an-749080.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.logo{
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 15px;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 35%;
	list-style: none;
}
.nav-links a{
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: lighter;
	font-size: 13px;
}
.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	border-radius: 2rem;
}

@media screen and (max-width: 1024px){
	.nav-links{
		width: 60%;
		list-style: none;
	}
}

@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
		overflow-y: hidden;
	}
	.nav-links{
		width: 60%;
	}
	.home-main-section div{
		font-size: 8px;
		line-height: 34px;
	}
	.btn{
		padding: 8px 25px;
		font-size: 5px;
	}
}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
.title {
	font-family: 'Dancing Script', cursive;
	font-weight: 200;
	align-content: center;
	color: white;
}

.bigger-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	color: white;
}

.btn {
	color: white;
	background-color:rgba(255,255,255,0.30);
	padding: .6rem .8rem;
	border-radius: 2rem;
	text-decoration: underline;
	font-family: 'Roboto', Sans-serif;
	font-size: .8rem
}
.main-text{
	left: 0;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    line-height: 50px;
    transform: scale(1.2,1.2);
}
